@media only screen and (max-width: 768px) {

    .links {
        flex-direction: column;
    }

    .links .avatar {
        width: 30vh;
    }

    .links .qrcode-linkme {
        width: 30vh;
    }


    h1 {
        font-size: 6vw;
    }

    h2 {
        font-size: 6vw;
    }

    h3 {
        font-size: 6vw;
    }
}