@media only screen and (max-width: 768px) {

    .links .foto-linkedin {
        width: 20vh;
    }

    .links .foto-qr-code-linkedin {
        width: 20vh;
        margin-top: 0px;
        padding: 0;
    }

    .links .foto-qr-code-github {
        width: 20vh;
    }

    .tdd-explanation .gif-tdd{

        width: 80vw;
        height: 80vw;
    }
    
    h1 {
        font-size: 6vw;
    }

    h2 {
        font-size: 6vw;
    }

    h3 {
        font-size: 6vw;
    }
}